/* public/css/style.css */
:root {
    --primaryColor: white;
    --secendColor: black;
}
/* Navbar Styles */
.navbar {
    background-color: transparent;
    color: var(--secendColor);
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.navbar-logo {
    color: var(--secendColor);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: var(--secendColor);
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* Create Project Button Styles */
.btn-create-project {
    background-color: #fbffb4; /* Green color */
    color: var(--secendColor);
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid var(--secendColor);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}
.waitProjects {
    animation: projects 1s infinite ease-in-out;
}

@keyframes projects {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#btn-all-projects {
    margin: 2rem auto 0 auto;
}
.contentProjects {
    display: none;
}
.hideAllProjects {
    display: block;
}

.div-btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Custom CSS for Search Bar */
.search-bar {
    max-width: 600px;
    margin: 0 auto;
}

.search-bar .form-control {
    border-radius: 20px 0 0 20px; /* Rounded left corners */
}

.search-bar .btn {
    border-radius: 0 20px 20px 0; /* Rounded right corners */
    border-left: none; /* Remove double border */
}

.search-icone {
    background-color: var(--secendColor);
    color: var(--primaryColor);
    border-radius: 20px;
}
.inp-search {
    padding: 1rem 4rem;
    border-radius: 20px;
}
/* Rotate the icon on hover */
.search-icone {
    transition: transform 0.5s ease; /* Smooth transition */
}

.search-icone:hover {
    transform: translate(10px, 0px); /* Rotate 360 degrees */
    background-color: #fbffb4;
}

.btn-create-project:hover {
    background-color: yellow;
    transform: skew(-8deg);
    border: none;
    box-shadow: 0px 10px 30px rgba(255, 215, 0, 0.6);
    color: #343200;
    cursor: pointer;
}

.btn-create-project i {
    font-size: 20px;
}

.content-home {
    border-radius: 30px;
    border: 1px solid var(--secendColor);
    margin-top: 5rem;
    padding: 2rem;
    text-align: center;
}

.add-project,
.close-modal {
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 10px lightcyan;
    transition: 0.4s;
}
.add-project {
    background-color: yellow;
    color: var(--secendColor);
    border: 1px solid var(--secendColor);
}
.close-modal {
    background-color: red;
    color: white;
}
.add-project:hover {
    background-color: yellow;
    color: var(--secendColor);
}
.close-modal:hover {
    background-color: red;
}
.add-project:hover,
.close-modal:hover {
    transform: skew(-8deg);
}

/* --------------------  Message add Project succes  ---------------------- */

/* Message Container Styles */
#messageContainer {
    position: fixed;
    background-color: #CBFFC6;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#messageText{
    padding-bottom: 0;
}

/* Animation for message */
@keyframes slideIn {
    from {
        top: -50px;
    }
    to {
        top: 20px;
    }
}

@keyframes slideOut {
    from {
        top: 20px;
    }
    to {
        top: -50px;
    }
}

#messageContainer {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out forwards;
}

#messageContainer.hide {
    animation: slideOut 0.5s ease-out forwards;
}

/* public/css/style.css */

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
}

.delete-project-ss {
    color: red;
}
#delete-project-ss:hover {
    background-color: #ffe4e4;
    color: red;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

/* En cours animation */
#encours-animation{
    background-color: yellow;
    width: 4%;
    border-radius: 50px;
    height: 16px;
    margin-right: 0.5rem;
    border: 1px solid black;
    animation: encours 2s infinite;
}

@keyframes encours {
    0%{box-shadow: 0px 0px 0px yellow;}
    50%{box-shadow: 0px 0px 20px yellow;}
    100%{box-shadow: 0px 0px 0px yellow;}
}
.encour-sec{
    background-color: #fffdd3;
    display: flex;
    align-items: center;

}
.btn-addTask-home {
    background-color: yellow;
    color: var(--secendColor);
    border-radius: 15px;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secendColor);
    margin-top: 1rem;
    transition: 0.3s;
}

.link-view-all-tasks{
    font-size: 19px;
    text-align: center;
    padding: 0.5rem;
}

.btn-addTask-home:hover {
    background-color: black;
    color: white;
}

.encours-section-task {
    background-color: #fffdd3;
}

.afaire-section-task {
    background-color: #e4e5ff;
}

.terminer-section-task {
    background-color: #d1fbc9;
}

/* Three-dot menu styles */
.dropdown-toggle::after {
    display: none; /* Hide the default dropdown arrow */
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown:hover {
    background-color: #ddd;
    border-radius: 30px;
    transition: 0.2s;
}

.dropdown ul {
    border-radius: 20px;
    padding: 0.2rem;
    width: 10%;
}
.dropdown ul li button {
    border-radius: 15px;
    font-size: 17px;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    width: 100%;
}

.dropdown ul li button:hover {
    background-color: #f0efef;
}
#delete-task {
    color: red;
}
#delete-task:hover {
    background-color: #ffe4e4;
}

.card-top-task {
    display: flex;
    justify-content: space-between;
}

.top-tsks-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-add-tasks {
    transition: 1s;
}
#btn-add-tasks:hover {
    transform: rotate(360deg);
    border: 2px;
}

.btn-logout{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    border: 4px solid #FF0A4B;
    z-index: 1000;
    color: #FF0A4B;
    padding: 0.4rem 0.8rem;
    font-size: 25px;
    background-color: transparent;
    transition: 0.5s;
}

.btn-logout:hover{
    transform: rotate(360deg);
    background-color: #FADCE4;
}

.div-register{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 1.5rem;
}

.btn-register{
    background-color: yellow;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    transition: 0.3s;
}

.btn-register:hover{
    box-shadow: 0px 0px 30px yellow;
}

.container-projects{
    position: relative;
    z-index: 1000;
}

.top-card-projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bell-notification {
    position: relative; 
    color: black;
    background-color: yellow;
    font-size: 18px;
    border-radius: 30px;
    padding: 0.3rem 0.6rem;
    margin-right: 0.6rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s; 
}
.count-tasks{
    position: absolute;
    top: -25px;
    right: 24px;
    padding: 0.5rem 2rem;
    background-color: black;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.count-tasks-notification {
    position: absolute;
    top: -10px; 
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
}

.bell-notification:hover .count-tasks {
    transform: translate(0px, -33px);
    opacity: 1;
}